

<div class="row-fluid">
 	<div id="panel">
      <div id="color-palette"></div>
      <div>
        <button id="delete-button">Delete Selected Shape</button>
      </div>      
    </div>
    <!-- <div id="map"></div> -->    
    <div>
    	<button id="search-button" ng-click="search()" class="btn btn-inverse">Search<i class="yellow-icon-search"></i></button>
    	<div class="btn-group">
			<button class="btn">Kies voorgedefinieerd gebied ...</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Antwerpen centrum</a></li>
				<li><a href="#">Belgische Kust</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn">Kies categorie ...</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">restaurants</a></li>
				<li><a href="#">artsen</a></li>
				<li><a href="#">handelaars</a></li>
				<li><a href="#">immobiliën</a></li>
				<li><a href="#">architecten</a></li>
				<li><a href="#">kleding</a></li>
				<li><a href="#">cafés</a></li>
				<li><a href="#">juweliers</a></li>
				<li><a href="#">bars</a></li>
				<li><a href="#">evenementen</a></li>
				<li><a href="#">banken</a></li>
				<li><a href="#">garages</a></li>
				<li><a href="#">advocaten</a></li>
			</ul>
		</div>
    </div>
</div>

<div class="row-fluid">
	<!-- MAP -->
    <div id="map" ui-map="myMap" class="span9"
		style="height: 600px; margin: 3px;"
		ui-options="mapOptions" ui-event="{'map-idle' : 'onMapIdle()'}">
	</div>
	 	
		<div id="resultList" style="height: 500px; margin: 3px;" class="span3">
			<div id="header">
				<h2>Shapes</h2>
			</div>
			<div class="row-fluid">
                <table class="table table-hovered">
                	<tr ng-repeat="(name, coordinates) in shapes"><td>{{name}}</td></tr>
                </table>
	        </div>
			<div id="header">
				<h2>Results</h2>
			</div>
			<div class="span12">
	            <div class="list-item">
	                <div class="row-fluid">
	                    <div class="span8">
							<a href="#" class="heading"><span class="iconplaceholder">1.</span>Da Giovanni</a>
	                    </div>
	                    <div class="span4 text-right">
	                        <a href="#" class="attention"> <span>8 reviews</span>
								<span class="inline-block rating small rating4"><span></span></span>
	                        </a>
	                    </div>
	                </div>
	                <div class="row-fluid">
	                    <div class="span12 larger-font black">
							<i class="icon icon-large icon-map-marker"></i>
							<span>Groenplaats 15, 2000 Antwerpen</span>
	                    </div>
	                </div>
	                <div class="row-fluid">
	                    <div class="span9 vertical-align-button">
							<strong>
								<i class="icon icon-large icon-time"></i>
								<span>Open now </span>
							</strong>
							<span class="tags"><a>Restaurants</a> - <a>&lt; 25 euro</a> - <a>Italiaans</a> - <a>More</a></span>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	
</div>



